@import "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import "./reset.css";
@import "./variable.css";

/* component css */
@import "./components/main-header.css";
@import "./components/sidebar.css";
@import "./components/dots.css";
@import "./components/banner.css";
@import "./components/subscribe.css";
@import "./components/sub-btn.css";
@import "./components/sub-statebar.css";
@import "./components/footer.css";

/* sceen css */
@import "./screens/index.css";
@import "./screens/subpage-package.css";
@import "./screens/subpage-delivery.css";
@import "./screens/subpage-ramayun.css";
@import "./screens/subpage-payment.css";
@import "./screens/subpage-finish.css";

/* font family */
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family:'GmarketSansMedium';
  color: var(--fontcolor);
}

.wrap { 
  overflow: hidden;
  max-width: 768px;
  height: 100%;
  margin: auto;
  /* border: 1px solid lightgrey; */
}